<div class="row mb-4  ">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Agregar nueva publicación
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <form>
              <div class="form-group">
                <label for="inputSkill">Habilidad</label>
                <select id="inputSkill" class="form-control">
                  <option selected>Escoja habilidad...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputDesc">Descripción</label>
                <textarea class="form-control" id="inputDesc" rows="3"></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary btn-lg">
              <i class="fa fa-file" aria-hidden="true"></i> Adjuntar Archivo
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary btn-lg">
              <i class="fa fa-youtube" aria-hidden="true"></i> Adjuntar Video
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary btn-lg">
              <i class="fa fa-github" aria-hidden="true"></i> Adjuntar Repositorio
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Adjuntar archivo
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Recursos adjuntos
      </div>
      <div class="card-body">

      </div>
    </div>
  </div>
</div>