.card {
    border: none;
    box-shadow: 0 4px 8px 0 #414141;
    margin-bottom: 2em;
}

.card-header {
    background-color: var(--dt-light-green);
    color: #ffffff;
}

.card-body {
    background-color: var(--dt-light-grey);
}

.card-footer {
    background-color: var(--dt-dark-grey);
    color: #e4e4e4;
}

.nav-link {
    color: #ffffff;
}

.active {
    color: var(--dt-dark-green);
}

.report-box {
    border-radius: 30px;
    margin: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: #c4c4c4;
    border: none;
}