<div class="card affix-card">
  <div class="card-header">
    Buscar Usuario
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <form>
          <div class="form-group">
            <label for="searchIn">Buscar a:</label>
            <input type="text" class="form-control" name="searchIn" id="searchIn" placeholder="Ingrese criterio de búsqueda" [(ngModel)]="searchIn" required>
          </div>
          <div class="form-group">
            <label for="criteria">Por:</label>
            <select id="criteria" name="criteria" class="form-control" [(ngModel)]="criteria" required>
              <option>Carnet</option>
              <option>Universidad</option>
              <option>Habilidad</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" (click)="sendEvent()">Buscar</button>
        </form>
      </div>
    </div>
  </div>
</div>