<div class="row">
  <div class="col">
      <div class="card">
          <div class="card-header">
              {{title}}
          </div>
          <div class="card-body">
              <p>Publicado por: User</p>
              <p>Descripción: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, perspiciatis
                  numquam! Ad animi nulla aliquam saepe perspiciatis! Nihil, maxime dignissimos facere
                  debitis vel rem soluta dolor assumenda, harum ad numquam?</p>
              <p>Habilidad: Skill</p>
          </div>
          <div class="card-footer">
              2 days ago
          </div>
      </div>
  </div>
</div>