<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div class="container">
  <div class="row main-row">
    <div class="col-lg-4">
      <app-profile></app-profile>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h2>Pubicaciones recientes</h2>
        </div>
        <app-publication></app-publication>
        <app-publication></app-publication>
        <app-publication></app-publication>
        <app-publication></app-publication>
      </div>
    </div>
  </div>
</div>