  <div class="row">
    <div class="col">
      <div class="card mx-5 mb-5 p-3">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h1>Registrarse como estudiante</h1>
              <form *ngIf="dataReady">
                <div class="form-group">
                  <label for="inputCollege">Seleccione su Universidad</label>
                  <select id="inputCollege" class="form-control">
                    <option *ngFor="let unis of Unis">{{uni.nombre}}</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Continuar</button>
                <button type="submit" class="btn btn-secundary" routerLink="/">Volver al Inicio</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>