<div class="card affix-card">
  <div class="card-header">
      Mi Perfil
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col-lg-4">
              <img class="avatar" src="../../assets/avatar.jpg" width="100" height="100" alt="Avatar">
          </div>
          <div class="col">
              <p>Nombre: Óscar Arias</p>
              <p>Carné: 1832456501</p>
              <p>Universidad: Universidad de Costa Rica</p>
          </div>
      </div>
      <div class="row">
          <div class="col center-text">
              <button type="button" class="btn btn-outline-dark btn-sm">Editar Perfil</button>
          </div>
      </div>
  </div>
  <div class="card-footer">
      <div class="row">
          <div class="col profile-edit">

          </div>
      </div>
      <div class="row">
          <div class="col">
              <p>Reputación: 5%</p>
              <p>Seguidores: 1917</p>
          </div>
          <div class="col center-text">
              <p>Mis Apoyos:</p>
          </div>
      </div>
      <div class="row">
          <div class="col center-text">
              <p>
                  <button type="button" class="btn btn-primary btn-block">Realizar Publicación</button>
              </p>
              <p>
                  <button type="button" class="btn btn-primary btn-block">Publicar Tutoría</button>
              </p>
          </div>
      </div>
  </div>
</div>