.sidebar {
    position: fixed;
}

.avatar {
    border-radius: 25px;
}

.center-text {
    text-align: center;
}

.btn-primary {
    background-color: var(--dt-light-green);
    border: none;
}

.btn-primary:hover {
    background-color: var(--dt-dark-green);
    border: none;
}

.affix-card {
    position: sticky;
    top: 110px;
}