<div class="card affix-card">
  <div class="card-header">
      Mi Perfil
  </div>
  <div class="card-body">
      <div class="row">
          <div class="col">
              <p>Nombre: {{user?.nombre + ' ' + user?.apellido}}</p>
              <p>Carné: {{user?.carnet}}</p>
              <p>Universidad: {{user?.universidad}}</p>
          </div>
      </div>
      <div class="row">
          <div class="col center-text">
              <button type="button" class="btn btn-outline-dark btn-sm" (click)="logout()">Cerrar Sesión</button>
          </div>
      </div>
  </div>
  <div class="card-footer">
      <div class="row">
          <div class="col profile-edit">

          </div>
      </div>
      <div class="row">
          <div class="col">
              <p>Reputación: {{user?.reputacion}}</p>
          </div>
          <div class="col center-text">
              <p>Mis Apoyos:</p>
          </div>
      </div>
      <div class="row">
          <div class="col center-text">
              <p>
                  <button type="button" class="btn btn-primary btn-block">Realizar Publicación</button>
              </p>
              <p>
                  <button type="button" class="btn btn-primary btn-block">Publicar Tutoría</button>
              </p>
          </div>
      </div>
  </div>
</div>