:root {
    --dt-light-green: #8cc63f;
    --dt-dark-green: #336600;
    --dt-light-grey: #999999;
    --dt-dark-grey: #808080;
}

@font-face {
    font-family: "Geomanist";
    src: url("./assets/Geomanist-Regular.otf") format("opentype");
}

body {
    background: url(./assets/loginscreen.jpg) no-repeat center center fixed;
    background-size: cover;
    /*background-color: #e4e4e4;*/
    font-family: Geomanist;
}

.main-row {
    margin-top: 2em;
}

/* Botones usados a lo largo de la aplicacion */ 
.btn-primary {
    background-color: var(--dt-light-green);
    border: none;
}

.btn-primary:hover {
    background-color: var(--dt-dark-green);
    border: none;
}