:root {
    --dt-light-green: #8cc63f;
    --dt-dark-green: #336600;
    --dt-light-grey: #999999;
    --dt-dark-grey: #808080;
}

@font-face {
    font-family: "Geomanist";
    src: url("./assets/Geomanist-Regular.otf") format("opentype");
}

body {
    background-color: #e4e4e4;
    font-family: Geomanist;
}

.main-row {
    margin-top: 2em;
}

/* Estilos de las cards*/
.card {
    border: none;
    box-shadow: 0 4px 8px 0 #414141;
    margin-bottom: 2em;
}

.card-header {
    background-color: var(--dt-light-green);
    color: #ffffff;
}

.card-body {
    background-color: var(--dt-light-grey);
}

.card-footer {
    background-color: var(--dt-dark-grey);
    color: #e4e4e4;
}

/* Botones usados a lo largo de la aplicacion */ 
.btn-primary {
    background-color: var(--dt-light-green);
    border: none;
}

.btn-primary:hover {
    background-color: var(--dt-dark-green);
    border: none;
}